<ion-header>
  <ion-toolbar >
    <ion-title>Clinica Salve Meu Pet</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="log-in"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div id="endereco">
      <ion-icon slot="icon-only" name="location" color="danger"></ion-icon>
      5020 Bradenton Ave, Dublin, OH 43017, Estados Unidos
      <br>
      <ion-icon slot="icon-only" name="call" color="success"></ion-icon>
      (+1)(614)8898070
    </div>
  </ion-toolbar>

  <ion-toolbar class="responsive-toolbar">
    <ion-buttons>
      <ion-button (click)="servicePage()">
        Serviços
      </ion-button>
      <ion-button (click)="eventPage()">
        Eventos
      </ion-button>
      <ion-button (click)="aboutRedirect()">
        Sobre
      </ion-button>
      <ion-button (click)="appointmentsPage()">
        Agendamentos
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<ion-content>
  <section>
    <div>
      <img src="assets/images/CatDog2.jpeg">
        <ion-card class="card-section">
          <ion-card-title >Section Title</ion-card-title>
          <ion-card-header>
          </ion-card-header>
          <ion-card-content>         
          </ion-card-content>
        </ion-card>
    </div>    
  </section>
</ion-content>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<ion-footer>
  <ion-toolbar>
    <div id="alinhamento">
      <ul style="list-style-type: none;">
        <li>Instituição: IFSP - Campus Guarulhos</li>
        <li>Dev: Inacio Carvalho de Oliveira, GU3015076</li>
        <li>Email: inacio.carvalho@aluno.ifsp.edu.br</li>
      </ul>
    </div>
  </ion-toolbar>
</ion-footer>